/* general */
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h3,
h5,
p,
button,
input {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0e1015 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #686868 !important;
}

/* navbar */
#mobile-nav-menu {
  display: none;
}

.top-nav {
  position: absolute;
  top: 0;
  width: 95%;
  height: 75px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1016;
  z-index: 2;
}

.top-nav-right {
  display: flex;
  align-items: center;
}

.nav-menu-wrapper {
  overflow-x: hidden;
}

#nav-menu {
  transform: translateX(125%);
  visibility: hidden;
  transition: 0.3s all ease-out;
}

.nav-link {
  color: #e5ebf3;
  font-size: 14px;
  line-height: 17px;
  background: none;
  border: none;
  margin-right: 35px;
  cursor: pointer;
  text-decoration: none;
  font-family: Montserrat;
  cursor: pointer;
}

.nav-link:nth-child(5) {
  margin-right: 0;
}

#burger-icon {
  width: 40px;
  height: 45px;
  position: relative;
  top: 14px;
  margin-left: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 60%;
  /* background: linear-gradient(257.92deg, #F04829 5.36%, #FAAF40 55.62%, #2D97FC 89.97%); */
  border-radius: 9px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burger-icon span:nth-child(1) {
  top: 0px;
  background: #2d97fc;
}

#burger-icon span:nth-child(2) {
  top: 8px;
  background: #faaf40;
}

#burger-icon span:nth-child(3) {
  top: 16px;
  background: #f04829;
}

#burger-icon.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #d2d2d2;
}

#burger-icon.open span:nth-child(2) {
  opacity: 0;
  left: 160px;
}

#burger-icon.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #d2d2d2;
}

.width-unset {
  width: unset !important;
}

.video-mask {
  height: 100%;
}

video:focus {
  outline: none;
}

video {
  /* used for border-radius */
  border-radius: 12px;
}

.remove-on-desktop {
  display: none;
}

/* modal */

#modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(65, 65, 65, 0.6);
  backdrop-filter: blur(36px);
  z-index: 10;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  width: 458px;
  height: 369px;
  background: #202122;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content .btn {
  padding: 15px 120px;
}

/* scroll-top */
#scroll-top {
  position: absolute;
  z-index: 2;
  bottom: 55px;
  right: 20px;
  background: rgb(7 6 6 / 70%);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

#scroll-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

.arrow {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 17px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #dde5f2;
  border-right: 3px solid #dde5f2;
}

.arrow-top {
  transform: rotate(-45deg);
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  transform: translateY(0vh);
}

.section {
  width: 100%;
  height: 100vh;
  background-color: #0e1016;
  display: flex;
  align-items: center;
}

.page-container {
  display: flex;
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.page-container-left,
.page-container-right {
  width: 40%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.page-container-right video {
  float: right;
}

.page-heading {
  font-size: 50px;
  line-height: 59px;
  color: #dde5f2;
}

.page-subheading {
  font-size: 32px;
  line-height: 39px;
  color: #e5ebf3;
  margin: 20px 0;
}

.page-desc {
  font-size: 24px;
  line-height: 29px;
  color: #e5ebf3;
}

.gradient {
  background: linear-gradient(
    257.92deg,
    #f04829 5.36%,
    #faaf40 55.62%,
    #2d97fc 89.97%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.btn {
  background: #151619;
  border: 2px solid #f3f6fb;
  box-sizing: border-box;
  border-radius: 100px;
  color: white;
  margin: 20px 0;
  padding: 15px 40px;
  font-family: Montserrat;
  cursor: pointer;
}

.btn-gradient-wrapper {
  /* width: 130px; */
  padding: 2px 2px;
  border-radius: 100px;
  position: relative;
  background: linear-gradient(
    257.92deg,
    #f04829 5.36%,
    #faaf40 55.62%,
    #2d97fc 89.97%
  );
  z-index: 1;
  /* padding: 3px; */
}

.btn-gradient-wrapper .btn {
  border: unset;
  margin: 0;
}

.more-info-wrapper {
  height: 100px;
  display: flex;
  align-items: flex-end;
}

/* page 1 */

.page-1 .page-heading:nth-child(1),
.page-1 .page-heading:nth-child(2) {
  font-size: 60px;
  line-height: 70px;
}

.page-1-video-wrapper {
  width: 478;
  overflow: hidden;
}

.page-1-video {
  /* // to kill black line on right of video */
  transform: scale(1.1) translate(90px, 10px);
  z-index: 1;
}

.page-1-video-wrapper video {
  transform: translateX(22px);
}

/* page 2 */

.page-2 .page-container-right {
  justify-content: center;
}

.page-2-geo {
  position: absolute;
  right: 0;
  width: 500px;
}

.page-2-video {
  transform: translateX(80px);
}

/* page 3 */

.page-3 .page-container-left {
  justify-content: center;
}
.page-3 .page-container-right {
  width: 650px;
  justify-content: center;
}
.page-3-geo {
  position: absolute;
  left: 0;
}

.page-3-video {
  transform: translateX(-30px) scale(1.2);
}

/* page 4 */
.page-4-geo {
  position: absolute;
  right: 0;
}

.page-4 .page-container-right {
  justify-content: center;
}

.page-4-video {
  transform: translateX(40px);
}

.page-5-geo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.page-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-5 .page-5-content {
  transform: translateY(-35px);
}

.page-5 .page-heading {
  text-align: center;
}

.page-5-video-mask {
  height: 150px;
  overflow: hidden;
  padding: 15px 0;
}

.page-5-video {
  position: relative;
  z-index: 1;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 10px);
  padding-bottom: 20px;
}

.subscribe-text {
  color: #e5ebf370;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* //mailchimp */
#mc_embed_signup_scroll {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}

.mc-field-group {
  display: flex;
}

.email-form-wrapper {
  width: 45%;
  margin: 0 auto;
}

.email-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid #47474750;
  border-radius: 5px;
}

.email-field {
  width: 320px;
  background: transparent;
  border: none;
  text-decoration: none;
  color: #686868;
  font-size: 21px;
  line-height: 26px;
  -webkit-box-shadow: none;
}

.email-field:focus {
  outline-width: 0;
  border-bottom: 1px solid #686868;
}

.email-form::placeholder {
  color: #686868;
  font-size: 21px;
  line-height: 26px;
}

.submit-btn {
  -webkit-appearance: none;
}

#mailchimp-response {
  font-size: 16px;
  line-height: 20px;
  color: #686868;
  padding-top: 10px;
  padding-left: 10px;
  font-family: Poppins;
}

/* page 5 */

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.copyright {
  font-size: 14px;
  line-height: 21px;
  transform: translateY(2px);
  margin-left: 30px;
  color: #474747;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
}

/* media queries for mobile */

/* @media only screen and (min-width: 2000px) {
  .page-container {
    width: 60%;
  }
} */

@media only screen and (max-width: 1100px) {
  body,
  .container {
    overflow-y: scroll !important;
    overscroll-behavior-y: unset !important;
    -webkit-tap-highlight-color: transparent;
  }

  .section {
    height: unset;
  }

  .remove-on-mobile {
    display: none;
  }

  .remove-on-desktop {
    display: block !important;
  }

  .stop-scroll {
    position: fixed;
    width: 100%;
  }

  .modal-full-page {
    height: 100vh;
    width: 100%;
  }

  .modal-full-page .modal-top-logo {
    position: absolute;
    top: 25px;
  }

  .modal-content img:nth-child(2),
  .modal-content h3,
  .modal-content #back-btn {
    transform: translateY(-40px);
  }

  .page-container {
    flex-direction: column;
    width: 85%;
  }

  .page-container-left,
  .page-container-right {
    width: 100%;
  }

  .page-heading {
    font-size: 36px;
    line-height: 44px;
  }

  .page-subheading {
    font-size: 32px;
    line-height: 39px;
    color: #e5ebf3;
    margin: 20px 0;
  }

  .more-info-wrapper {
    height: unset;
    align-items: unset;
  }

  .page-desc {
    font-size: 24px;
    line-height: 29px;
    color: #e5ebf3;
  }

  .video {
    width: 100% !important;
    height: 100% !important;
    padding: 0 40px;
  }

  /* navbar */

  #mobile-nav-menu {
    display: block;
    position: absolute;
    height: 95vh;
    width: 100%;
    top: 2%;
    background: #0e1016;
    z-index: 2;
    transform: translateY(-100%);
    transition: 0.7s all ease-in-out;
  }

  #mobile-nav-menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  #mobile-nav-menu-links .nav-link {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .top-nav {
    margin-bottom: 40px;
    width: 90%;
    z-index: 2;
  }

  .top-nav-right,
  .top-nav-left {
    width: 50%;
  }

  .top-nav-right .btn {
    padding: 8px 25px;
  }

  #burger-icon {
    margin-left: 0;
  }

  /* page 1 */
  .page-1 .page-heading:nth-child(1) {
    padding-top: 140px;
    font-size: 36px;
    line-height: 44px;
  }

  .page-1 .page-heading:nth-child(2) {
    padding-bottom: 40px;
    font-size: 36px;
    line-height: 44px;
  }

  .page-1 .page-container-right {
    display: flex;
    justify-content: center;
  }

  .page-1-video {
    transform: unset;
  }
  .page-1-video-wrapper {
    transform: unset;
    width: 100% !important;
  }

  .page-1-video-wrapper video {
    transform: scaleX(1.2) translateX(1px);
    width: 100%;
  }

  /* page 2 */
  .page-2 .btn {
    margin: 70px 0px;
  }

  .page-2-geo {
    right: -44px;
    transform: translate(22%, 29%);
    width: 100%;
  }

  .page-2-video {
    transform: unset;
    width: 100% !important;
    padding-bottom: 100px;
  }

  /* page-3 */
  .page-3 .btn {
    margin: 70px 0px;
  }

  .page-3 .page-container {
    flex-direction: column-reverse;
  }
  .page-3 .page-container-right {
    width: unset;
  }

  .page-3-geo {
    transform: translate(-50%, 67%);
  }

  .page-3-video {
    width: 100% !important;
    transform: unset;
    padding-bottom: 80px;
  }

  /* page-4 */
  .page-4-video {
    width: 100% !important;
    transform: unset;
    padding: 80px 0;
  }

  .page-4-geo {
    transform: translate(62%, 20%);
  }

  /* page-5 */

  .page-5 .page-5-content {
    transform: unset;
  }

  .page-5 .page-heading {
    text-align: center;
  }

  .page-5-geo {
    transform: translate(-50%, -126%);
  }

  .page-5-video-mask {
    overflow: hidden;
    height: 100px;
    width: 100%;
    margin: 0 auto;
  }

  .page-5-video {
    height: 100px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0;
    transform: translate(-50%, 20px) scale(1.4);
  }

  .subscribe-text {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
  }

  /* mailchimp */

  .email-form-wrapper {
    width: 95%;
    margin-bottom: 40px;
  }

  .email-form {
    font-size: 16px;
    line-height: 20px;
    margin: 30px auto;
    margin-bottom: 5px;
    width: 85%;
    padding: 15px;
  }

  .email-field {
    font-size: 12px;
    line-height: 20px;
    width: 150px;
  }

  .email-form .btn {
    padding: 8px 25px;
  }

  .email-form .btn-gradient-wrapper {
    /* width: 100px; */
  }

  .mailchimp-response-wrapper {
    width: 85%;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #mailchimp-response {
    font-size: 11px;
    line-height: 18px;
  }

  .footer {
    flex-direction: column;
    transform: unset;
    position: unset;
    width: 85%;
    height: unset;
    align-items: flex-start;
  }

  .footer-left,
  .footer-right {
    margin-bottom: 20px;
  }

  .footer-right .nav-link {
    padding: 0;
  }

  .footer-right {
    width: 70%;
    padding-top: 10px;
  }

  .copyright {
    font-size: 14px;
    line-height: 21px;
    margin: 20px 0;
    text-align: left;
  }
}
